<div style="max-width: 1100px; margin: auto; margin-top: 40px">
  <form [formGroup]="data" novalidate>
    <mat-card class="user-container" [class.mat-elevation-z8]="true">
      <mat-card-header>
        <mat-card-title>Usuário</mat-card-title>
        <mat-card-subtitle>Registro</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content fxLayout="column">
        <div fxLayout="row">
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
            <mat-label>Nome de Usuário</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline" fxFlex="50" fxFlex.xs="100">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div style="padding: 5px" class="acoes">
        <button mat-fab color="stroked" aria-label="save" (click)="save()">
          <mat-icon>save</mat-icon>
        </button>
        <button
          mat-fab
          color="basic"
          (click)="back()"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
    </mat-card>
  </form>
</div>
